body {
    font-family: "Mulish", perpetua, serif;
    background-image: url('../images/gold.jpg');
    /*background-image: url('../images/Grey.jpg');*/
    /*background-image: url('../images/DD\ White\ Wood\ Background\ 34220.svg');*/
    /*background-image: url('../images/vecteezy_abstract-gray-wood-texture-design_256656/P90.jpg');*/
    /*background-image: url('../images/vecteezy_vector-wood-background-with-a-soft-gray-color_117400/free-vector-gray-wood-background.jpg');*/
    background-repeat: repeat;
    background-size: cover;
    background-position: initial;



    color: #ffffff;
    /*font-size:3vw;*/
    text-align: center;
}

h1{
    font-family: "Molengo", perpetua, serif;
    float: right;
    max-width: 100%;
    }

*.blue{
    background-color: #1573CC;
}

*.grey {
    background-color: #EBF4FD;
    opacity: 82%;
}

*.div-text {
    color: black;
    text-align: center;
}
*.div-shadow {
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
}



.box {
    font-family: "Molengo";
    color: white;
}

h2{
    float:left;
}


.btn {
    color: #ffffff;
    background-color:#105292;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
}

    .btn:hover {
        cursor: pointer;
        background-color: white;
        color: #105292;
    }

    .btn .disabled {
        background-color:#687a8b;
    }
.pressed {
    background-color: white;
    color: #105292;
    
}


.note {
    height: 100%;
    width: 100%;
    text-align: center;
}
  .note.correct {
    background-color: green;
  }

  .note.wrong {
    background-color: red;
  }

nav {
    color: #FFFFFF; }
    nav .nav-buttons {
        display: flex;
        justify-content: space-between;
        align-items: right; }
    

.mode-menu {
    display: none;
    color: white;
}

.mode-type {
    color: #13293f;
}
    .mode-type:hover {
        cursor: pointer;   
    }   
    .mode-type.selected {
        font-weight: '700'; 
        color: white;
    }

.instructions-title{
    background-color: #1573CC;
    color: white;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}

.instructions-text{
    background-color: #EBF4FD;
    opacity: 82%;
    color: black;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
}
    .instructions-text.disabled{
        display: none;
    }

.fretboard {
    text-align: center;
    /*content: url('../images/fretboard_transparent.png');*/
    width: 80%;

}

.fretboard-image{
  width: 100%;
}

  .fretboard-image.Eh {
    display: none;
  }

  .fretboard-image.B {
    display: none;
  }

  .fretboard-image.G {
    display: none;
  }

  .fretboard-image.D {
    display: none;
  }

  .fretboard-image.A {
    display: none;
  }

  .fretboard-image.El {
    display: none;
  }

.feedback-text {
    opacity: 0%;
}


footer{
    font-size: 1vw;
    text-align:right;
}

footer a {
    text-decoration: none;
    color: white;
}

.feedback-correct{
    display: none;
}

.feedback-incorrect{
    display: none;
}

.game-over {
    /*background-color: #EBF4FD;
    opacity: 82%;*/
    color: black;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    display: none;
    font-weight:700;
    font-size: xxx-large;
}

.counter {
    color: black;
    font-weight:700;
    font-size: xxx-large;
}


.start-play {
    display: block;
}

.play-again {
    display: hide;
}


/*for find*/
.fretboard-touch {
    position: relative;
}


.fretboard-touch .fretboard-button {
    /*transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);*/
    background-color: #1573CC;
    opacity: 0%;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: 8%;
    width: 10%;
  }
  .fretboard-button.short {
      width: 5%
  }

  .fretboard-button.correct {
    background-color: green;
    opacity: 50%;
    transform: translateX(100%);
    width: 5%;
}

  .fretboard-button.wrong {
    background-color: red;
    opacity: 50%;
    transform: translateX(100%);
    width: 5%;
  }

  #s0f0 {
    position: absolute;
    top: 22%;
    left: 5%;
  }

  #s1f0 {
    position: absolute;
    top: 33%;
    left: 5%;
  }
  #s2f0 {
    position: absolute;
    top: 45%;
    left: 5%;
  }
  #s3f0 {
    position: absolute;
    top: 56%;
    left: 5%;
  }
  #s4f0 {
    position: absolute;
    top: 68%;
    left: 5%;
  }
  #s5f0 {
    position: absolute;
    top: 79%;
    left: 5%;
  }
  #s0f1 {
    position: absolute;
    top: 22%;
    left: 20.5%;
  }

  #s1f1 {
    position: absolute;
    top: 33%;
    left: 20.5%;
  }
  #s2f1 {
    position: absolute;
    top: 45%;
    left: 20.5%;
  }
  #s3f1 {
    position: absolute;
    top: 56.5%;
    left: 20.5%;
  }
  #s4f1 {
    position: absolute;
    top: 69%;
    left: 20.5%;
  }
  #s5f1 {
    position: absolute;
    top: 80%;
    left: 20.5%;
  }  
  #s0f2 {
    position: absolute;
    top: 21%;
    left: 39.5%;
  }

  #s1f2 {
    position: absolute;
    top: 33%;
    left: 39.5%;
  }
  #s2f2 {
    position: absolute;
    top: 45%;
    left: 39.5%;
  }
  #s3f2 {
    position: absolute;
    top: 56.5%;
    left: 39.5%;
  }
  #s4f2 {
    position: absolute;
    top: 69%;
    left: 39.5%;
  }
  #s5f2 {
    position: absolute;
    top: 81%;
    left: 39.5%;
  }  
  #s0f3 {
    position: absolute;
    top: 21%;
    left: 57%;
  }

  #s1f3 {
    position: absolute;
    top: 33%;
    left: 57%;
  }
  #s2f3 {
    position: absolute;
    top: 45%;
    left: 57%;
  }
  #s3f3 {
    position: absolute;
    top: 56.5%;
    left: 57%;
  }
  #s4f3 {
    position: absolute;
    top: 69%;
    left: 57%;
  }
  #s5f3 {
    position: absolute;
    top: 81%;
    left: 57%;
  }  

  #s0f4 {
    position: absolute;
    top: 20%;
    left: 73%;
  }

  #s1f4 {
    position: absolute;
    top: 32%;
    left: 73%;
  }
  #s2f4 {
    position: absolute;
    top: 44.5%;
    left: 73%;
  }
  #s3f4 {
    position: absolute;
    top: 57%;
    left: 73%;
  }
  #s4f4 {
    position: absolute;
    top: 70%;
    left: 73%;
  }
  #s5f4 {
    position: absolute;
    top: 82%;
    left: 73%;
  }  
  
  #s0f5 {
    position: absolute;
    top: 20%;
    left: 88%;
  }

  #s1f5 {
    position: absolute;
    top: 32%;
    left: 88%;
  }
  #s2f5 {
    position: absolute;
    top: 44.5%;
    left: 88%;
  }
  #s3f5 {
    position: absolute;
    top: 57%;
    left: 88%;
  }
  #s4f5 {
    position: absolute;
    top: 70%;
    left: 88%;
  }
  #s5f5 {
    position: absolute;
    top: 82%;
    left: 88%;
  }  




.random-note {
    background-color: #EBF4FD;
    opacity: 82%;
    color: black;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}

.chord-buttons {
  display: none;
}

